/* movies */

.theme-movies {
    background: radial-gradient(circle, #030303, #000000);
    * {
        color: rgb(187, 187, 187);
    }
    #timeContainer {
        font: 200 50px 'Source Code Pro', sans-serif;
        margin-bottom: 15px;
    }
    #dateContainer {
        font: 200 16px 'Source Code Pro', sans-serif;
        letter-spacing: 5px;
    }
    #quotesContainer {
        font: 200 18px 'Source Code Pro', sans-serif;
        letter-spacing: 5.4px;
    }
    #messageContainer, #messageInput {
        font-weight: 300 !important;
    }
    #bookmarksStatusBar {
        background: radial-gradient(circle, #0D0D0D77, #14141477);
    }
    #bookmarksStatusBar:hover {
        background: radial-gradient(circle, #0D0D0D, #141414);
    }
    #vignetteBackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: black;
    }
    #vignetteContainer {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        box-shadow: 0px 0px 99px 64px rgba(0,0,0,0.9) inset;
        pointer-events: none;
    }
    #pictureContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: blur(12px);
        -webkit-filter: blur(12px);
        opacity: 0.2;
        pointer-events: none;
    }
    .picture {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: opacity 2s ease-in-out, height 12s ease-out;
    }

    #movieTitle {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        text-align: center;
        font-family: 'Source Code Pro', sans-serif;
        color: white;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 5px;
        text-transform: uppercase;
        cursor: pointer;
        pointer-events: all;
        margin-top: 15px;
        word-break: break-all;
    }
    .zoomedBackground {
        opacity: 0;
    }

    #posterContainer {
        position: fixed;
        right: 0;
        top: 45px;
        height: 100%;
        width: 500px;
        display: flex;
        align-items: center;
        z-index: 3;
        pointer-events: none;
        flex-direction: column;
        justify-content: center;
        transition: all 4s ease-in-out;
    }
    #posterContainer img {
        width: 100%;
        height: 80%;
        object-fit: contain;
        border-radius: 10px;
        cursor: pointer;
        pointer-events: all;
        transition: all 4s ease-in-out;
        opacity: 0.4;
    }
    #posterContainer img.maximized {
        opacity: 1;
        transform: scale(1.1);
    }
}