/* Blues */

.theme-geometry {
    background: radial-gradient(circle, #0C0E1E, #05040B);
}
.geometry-blue {
    background: linear-gradient(to bottom right, #000000, #0c0d2b);
}
.geometry-red {
    background: linear-gradient(to bottom right, #000000, #0c0d2b);
}
.geometry-pink {
    background: linear-gradient(to bottom right, #000000, #0c0d2b);
}
.geometry-yellow {
    background: linear-gradient(to bottom right, #000000, #0c0d2b);
}
.geometry-green {
    background: linear-gradient(to bottom right, #000000, #0c0d2b);
}

.theme-geometry * {
    color: white;
}
.theme-geometry #quotesContainer {
    font: 300 20px 'Open Sans', sans-serif;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.theme-geometry #messageContainer {
    font: 300 45px 'Open Sans', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.theme-geometry #timeContainer {
    font: 300 50px 'Open Sans', sans-serif;
    letter-spacing: 10px;
}
.theme-geometry #dateContainer {
    background: none;
    font: 300 16px 'Open Sans', sans-serif;
    letter-spacing: 5px;
    margin-top: 0 !important;
}

.theme-geometry .connectorVertical {
    background: linear-gradient(to bottom, #0F1454, #0256F9, #0F1454);
}
.theme-geometry #bookmarksStatusBar {
    background: radial-gradient(circle, #0D0D0D77, #14141477);
}
.theme-geometry #bookmarksStatusBar:hover {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
.fruit img{
    object-fit: contain;
    max-width: 100%;
}
.square {
    mix-blend-mode: difference;
}
.shape, .fruit { 
    animation-name: floating;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    transition: fill 2s ease-in-out;
    border-radius: 8px;
}
.shape:hover {
    /* opacity: 0.5; */
}
.speed1 {
    animation-duration: 45s;
}
.speed2 {
    animation-duration: 60s;
}
.speed3 {
    animation-duration: 75s;
}
.speed4 {
    animation-duration: 90s;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(150px, 300px); }
    50%  { transform: translate(450px, 105px); }
    75%  { transform: translate(-240px, -225px); }
    100%   { transform: translate(0, -0px); }   
}