/* Greens */

.theme-autumn {
    background: radial-gradient(circle, #171114, #000000);

    #timeContainer {
        font: 300 50px 'Open Sans', sans-serif;
    }

    #dateContainer {
        background: linear-gradient(to bottom right, #A60063, #AA0D4F, #C85227);
        font: 400 16px 'Source Code Pro', sans-serif;
        letter-spacing: 5px;
    }
}