/* Blues */

.theme-blues {
    background: radial-gradient(circle, #0C0E1E, #05040B);

    #timeContainer {
        font: 300 50px 'Open Sans', sans-serif;
    }

    #dateContainer {
        background: radial-gradient(circle, #2B3286, #322991, #6827C8);
        font: 400 16px 'Source Code Pro', sans-serif;
        letter-spacing: 5px;
    }
}