/* Greens */

.theme-greens {
    background: radial-gradient(circle, #0C1E18, #0B0404);
}
.theme-greens * {
    color: white;
}
.theme-greens #dateContainer {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens #settingsContainer{
    background: radial-gradient(circle, #0C1E18, #0B0404);
}
.theme-greens .optionsContainer .option {
    background: linear-gradient(to bottom right, #0F352A, #0F1C1E);
}
.theme-greens .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens #settingsContainer #finish {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
#themesContainer .theme-greens {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748) !important;
}
#themesContainer .theme-greens:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666) !important;
}
.theme-greens .bookmarkItem .itemTitle, .theme-greens .searchResult{
    background: linear-gradient(to bottom right, #0F352A, #0F1C1E);
}
.theme-greens .bookmarkItem:hover .itemTitle, .theme-greens .searchResult:hover {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens .bookmarkItem .itemTitle.active, .theme-greens .searchResult.active{
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens .connectorLeft, .theme-greens .connectorRight {
    background: #0C5A39;
}
.theme-greens .connectorVertical {
    background: linear-gradient(to bottom, #0C5A39, #21C07C, #0C5A39);
}
.theme-greens #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #27B53977, #25AD5777, #2D866677);
}
.theme-greens #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}