.theme-ninja {
    background: linear-gradient(90deg, #050210, #000000);

    * {
        color: rgb(187, 187, 187);
    }

    #timeContainer {
        font: 200 50px 'Source Code Pro', sans-serif;
        margin-bottom: 15px;
    }

    #dateContainer {
        font: 200 16px 'Source Code Pro', sans-serif;
        letter-spacing: 5px;
    }

    #quotesContainer {
        font: 200 18px 'Source Code Pro', sans-serif;
        letter-spacing: 5.4px;
    }

    #messageContainer,
    #messageInput {
        font-weight: 300 !important;
    }
}