/* Ninja */

.theme-ninja {
    background: radial-gradient(circle, #030303, #000000);
}
.theme-ninja * {
    color: rgb(187, 187, 187);
}
.theme-ninja #timeContainer {
    font: 200 50px 'Source Code Pro', sans-serif;
    margin-bottom: 15px;
}
.theme-ninja #dateContainer {
    font: 200 16px 'Source Code Pro', sans-serif;
    letter-spacing: 5px;
}
.theme-ninja #quotesContainer {
    font: 200 18px 'Source Code Pro', sans-serif;
    letter-spacing: 5.4px;
}
.theme-ninja #messageContainer, .theme-ninja #messageInput {
    font-weight: 300 !important;
}
.theme-ninja .connectorLeft, .theme-ninja .connectorRight {
    background: #26D92D;
    height: 2px !important;
}
.theme-ninja .connectorVertical {
    background: #26D92D;
}
.theme-ninja #bookmarksStatusBar {
    background: radial-gradient(circle, #0D0D0D77, #14141477);
}
.theme-ninja #bookmarksStatusBar:hover {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
