#settingsParent {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 9;
    opacity: 0;
    transition: height 0.7s ease, opacity 0s ease;
    padding: 50px 25px 25px 50px;
    color: var(--primary-color);
    background: var(--primary-background);
    pointer-events: none;

    &.show {
        opacity: 1;
        width: 100%;
        height: 100%;
        pointer-events: all;
    }

    .customInput {
        border: none;
        outline: none;
        border-bottom: solid 0.5px var(--primary-color);
        background: var(--primary-background);
        color: var(--primary-color);
        margin-left: 15px;
    }

    .settingsSection {
        display: flex;
        flex-basis: 30%;

        .sectionTitle {
            transform: rotate(-90deg);
            transform-origin: right;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-top: 0px;
            margin-left: -80px;
            position: absolute;
            font-size: 10px;
            color: #ffd48c;
        }

        .sectionItems {
            margin-left: 40px;
        }

        &.themeSection {
            flex-basis: 30%;
        }

        &.contentSection {
            flex-basis: 40%;

            .sectionTitle {
                margin-left: -95px;
            }
        }

        .settingsItem {
            position: relative;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 4px;
            margin: 15px 0;
            padding: 8px 20px;
            font-family: 'Anonymous Pro', monospace;
            cursor: pointer;
            border-radius: 4px;
            transition: background 0.1s ease-in-out;

            &.active {
                color: var(--primary-color);
            }

            .decor {
                width: 0;
                height: 7px;
                background: linear-gradient(to right, rgb(38, 12, 239) 60%, #21a6ff 100%);
                position: absolute;
                bottom: 0;
                left: 0;
                transition: height 0.3s ease-out, width 0.1s ease-out;
                z-index: -1;
                border-radius: 2px;
            }

            &:hover {
                .decor {
                    width: 100%;
                    transition: height 0.3s ease-out, width 3s ease-out;
                }
            }

            &.active {
                .decor {
                    height: 100% !important;
                    width: 100% !important;
                }
            }
        }
    }
}