/*  Themes  */

/* Blues */
.theme-blues {
    background: radial-gradient(circle, #150C1E, #08040B);
}
.theme-blues * {
    color: white;
}
.theme-blues #dateContainer {
    background: radial-gradient(circle, #2B3286, #322991, #6827C8);
}
.theme-blues #settingsContainer{
    background: radial-gradient(circle, #150C1E, #08040B);
}
.theme-blues .optionsContainer .option {
    background: linear-gradient(to bottom right, #260F35, #0F0F1E);
}
.theme-blues .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757);
}
.theme-blues .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}
.theme-blues #settingsContainer #finish {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}
.theme-blues #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757);
}
#themesContainer .theme-blues {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757) !important;
}
#themesContainer .theme-blues:hover {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8) !important;
}
.theme-blues .bookmarkItem .itemTitle, .theme-blues .searchResult{
    background: linear-gradient(to bottom right, #260F35, #0F0F1E);
}
.theme-blues .bookmarkItem:hover .itemTitle, .theme-blues .searchResult:hover {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757);
}
.theme-blues .bookmarkItem .itemTitle.active, .theme-blues .searchResult.active{
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}
.theme-blues .connectorLeft, .theme-blues .connectorRight {
    background: #0F1454;
}
.theme-blues .connectorVertical {
    background: linear-gradient(to bottom, #0F1454, #0256F9, #0F1454);
}
.theme-blues #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #2B328677, #32299177, #6827C877);
}
.theme-blues #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}




/* Hot */
.theme-amber {
    background: radial-gradient(circle, #1E160C, #0B0804);
}
.theme-amber * {
    color: white;
}
.theme-amber #dateContainer {
    background: radial-gradient(circle, #866320, #A48311, #866320);
}
.theme-amber #settingsContainer{
    background: radial-gradient(circle, #1E160C, #0B0804);
}
.theme-amber .optionsContainer .option {
    background: linear-gradient(to bottom right, #0A0E14, #271F19, #0A0E14);
}
.theme-amber .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #2D2B1B, #605218, #2D2B1B);
}
.theme-amber .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #866320, #A48311, #866320);
}
.theme-amber #settingsContainer #finish {
    background: linear-gradient(to bottom right, #866320, #A48311, #866320);
}
.theme-amber #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #2D2B1B, #605218, #2D2B1B);
}
#themesContainer .theme-amber {
    background: linear-gradient(to bottom right, #866320, #A48311, #866320) !important;
}
#themesContainer .theme-amber:hover {
    background: linear-gradient(to bottom right, #2D2B1B, #605218, #2D2B1B) !important;
}
.theme-amber .bookmarkItem .itemTitle, .theme-amber .searchResult{
    background: linear-gradient(to bottom right, #0A0E14, #271F19, #0A0E14);
}
.theme-amber .bookmarkItem:hover .itemTitle, .theme-amber .searchResult:hover {
    background: linear-gradient(to bottom right, #2D2B1B, #605218, #2D2B1B);
}
.theme-amber .bookmarkItem .itemTitle.active, .theme-amber .searchResult.active{
    background: linear-gradient(to bottom right, #866320, #A48311, #866320);
}
.theme-amber .connectorLeft, .theme-amber .connectorRight {
    background: #FFC005;
}
.theme-amber .connectorVertical {
    background: linear-gradient(to bottom, #866320, #A48311, #866320);
}
.theme-amber #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #86632077, #A4831177, #86632077);
}
.theme-amber #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #866320, #A48311, #866320);
}
.theme-amber #timeContainer, .theme-amber #messageContainer, .theme-amber #messageInput, .theme-amber #quotesContainer {
    font-weight: 300 !important;
}


/* Greens */
.theme-greens {
    background: radial-gradient(circle, #0C1E18, #0B0404);
}
.theme-greens * {
    color: white;
}
.theme-greens #dateContainer {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens #settingsContainer{
    background: radial-gradient(circle, #0C1E18, #0B0404);
}
.theme-greens .optionsContainer .option {
    background: linear-gradient(to bottom right, #0F352A, #0F1C1E);
}
.theme-greens .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens #settingsContainer #finish {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
#themesContainer .theme-greens {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748) !important;
}
#themesContainer .theme-greens:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666) !important;
}
.theme-greens .bookmarkItem .itemTitle, .theme-greens .searchResult{
    background: linear-gradient(to bottom right, #0F352A, #0F1C1E);
}
.theme-greens .bookmarkItem:hover .itemTitle, .theme-greens .searchResult:hover {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens .bookmarkItem .itemTitle.active, .theme-greens .searchResult.active{
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens .connectorLeft, .theme-greens .connectorRight {
    background: #0C5A39;
}
.theme-greens .connectorVertical {
    background: linear-gradient(to bottom, #0C5A39, #21C07C, #0C5A39);
}
.theme-greens #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #27B53977, #25AD5777, #2D866677);
}
.theme-greens #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}


/* Ninja */
.theme-ninja {
    background: radial-gradient(circle, #030303, #000000);
}
.theme-ninja * {
    color: white;
}
.theme-ninja #dateContainer {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
.theme-ninja #settingsContainer{
    background: radial-gradient(circle, #030303, #000000);
}
.theme-ninja .optionsContainer .option {
    background: linear-gradient(to bottom right, #000000, #000000);
}
.theme-ninja .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #090909, #0D0D0D);
}
.theme-ninja .optionsContainer .option.active {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
.theme-ninja #settingsContainer #finish {
    background: linear-gradient(to bottom right, #090909, #0D0D0D);
}
.theme-ninja #settingsContainer #finish:hover {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
#themesContainer .theme-ninja {
    background: linear-gradient(to bottom right, #202020, #202020) !important;
}
#themesContainer .theme-ninja:hover {
    background: radial-gradient(circle, #0D0D0D, #141414) !important;
}
.theme-ninja #timeContainer, .theme-ninja #messageContainer, .theme-ninja #messageInput, .theme-ninja #quotesContainer {
    font-weight: 300 !important;
}
.theme-ninja .bookmarkItem .itemTitle, .theme-ninja .searchResult{
    background: linear-gradient(to bottom right, #000000, #000000);
}
.theme-ninja .bookmarkItem:hover .itemTitle, .theme-ninja .searchResult:hover {
    background: linear-gradient(to bottom right, #090909, #0D0D0D);
}
.theme-ninja .bookmarkItem .itemTitle.active, .theme-ninja .searchResult.active{
    background: radial-gradient(circle, #0D0D0D, #141414);
}
.theme-ninja .connectorLeft, .theme-ninja .connectorRight {
    background: #26D92D;
    height: 2px !important;
}
.theme-ninja .connectorVertical {
    background: #26D92D;
}
.theme-ninja #bookmarksStatusBar {
    background: radial-gradient(circle, #0D0D0D77, #14141477);
}
.theme-ninja #bookmarksStatusBar:hover {
    background: radial-gradient(circle, #0D0D0D, #141414);
}

/* White */
.theme-white {
    background: radial-gradient(circle, #FFFFFF, #F3F3F3);
}
.theme-white * {
    color: black;
}
.theme-white #dateContainer {
    background: linear-gradient(to bottom right, #FFFFFF, #F1F1F1, #E4E4E4);
}
.theme-white #settingsContainer{
    background: radial-gradient(circle, #FFFFFF, #F3F3F3);
}
.theme-white .optionsContainer .option {
    background: white;
    box-shadow: 0px 2px 9px #eaeaea;
}
.theme-white .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF, #ECECEC);
}
.theme-white .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #FFFFFF, #F1F1F1, #E4E4E4);
}
.theme-white #settingsContainer #finish {
    background: linear-gradient(to bottom right, #000000, #111111, #000000);
}
.theme-white #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #111111, #222222, #111111);
}
#themesContainer .theme-white {
    background: lightgray !important;
}
#themesContainer .theme-white:hover {
    background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF, #ECECEC) !important;
}
.theme-white .bookmarkItem .itemTitle, .theme-white .searchResult{
    background: white;
    box-shadow: 0px 2px 9px #eaeaea;
}
.theme-white .bookmarkItem:hover .itemTitle, .theme-white .searchResult:hover {
    background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF, #ECECEC);
}
.theme-white .bookmarkItem .itemTitle.active, .theme-white .searchResult.active{
    background: radial-gradient(to bottom right, #FFFFFF, #F1F1F1, #E4E4E4);
}
.theme-white .connectorLeft, .theme-white .connectorRight {
    background: #E6E6E6;
}
.theme-white .connectorVertical {
    background: linear-gradient(to bottom, #E4E4E4, #F1F1F1, #E4E4E4);
}
.theme-white #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #FFFFFF, #F1F1F1, #E4E4E4);
    box-shadow: 0px 2px 9px #eaeaea;
}
.theme-white #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF, #ECECEC);
}
.theme-white #bookmarksContainer #bookmarkSearch {
    background: white;
}
.theme-white #settings, .theme-white .attribution {
    color: gray !important;
}
.theme-white #settings:hover, .theme-white .attribution:hover, .theme-white #openBookmarks, .theme-white #closeBookmarks {
    color: black !important;
}
.theme-white #settingsContainer .optionCustomization #messageInput {
    font-weight: 700;
}
.theme-white #messageContainer, .theme-white #dateTimeContainer,  .theme-white #quotesContainer {
    font-weight: 700;
}
.theme-white #settingsContainer #finish span {
    color: white;
}
