/*  Themes  */

/* Blues */
.theme-blues {
    background: radial-gradient(circle, #150C1E, #08040B);
}
.theme-blues * {
    color: white;
}
.theme-blues #dateContainer {
    background: radial-gradient(circle, #2B3286, #322991, #6827C8);
}
.theme-blues #settingsContainer{
    background: radial-gradient(circle, #150C1E, #08040B);
}
.theme-blues .optionsContainer .option {
    background: linear-gradient(to bottom right, #260F35, #0F0F1E);
}
.theme-blues .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757);
}
.theme-blues .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}
.theme-blues #settingsContainer #finish {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}
.theme-blues #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757);
}
#themesContainer .theme-blues {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757) !important;
}
#themesContainer .theme-blues:hover {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8) !important;
}
.theme-blues .bookmarkItem .itemTitle, .theme-blues .searchResult{
    background: linear-gradient(to bottom right, #260F35, #0F0F1E);
}
.theme-blues .bookmarkItem:hover .itemTitle, .theme-blues .searchResult:hover {
    background: linear-gradient(to bottom right, #1C204F, #1A1644, #311757);
}
.theme-blues .bookmarkItem .itemTitle.active, .theme-blues .searchResult.active{
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}
.theme-blues .connectorLeft, .theme-blues .connectorRight {
    background: #0F1454;
}
.theme-blues .connectorVertical {
    background: linear-gradient(to bottom, #0F1454, #0256F9, #0F1454);
}
.theme-blues #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #2B328677, #32299177, #6827C877);
}
.theme-blues #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #2B3286, #322991, #6827C8);
}




/* Hot */
.theme-hot {
    background: radial-gradient(circle, #1E0C0C, #0B0404);
}
.theme-hot * {
    color: white;
}
.theme-hot #dateContainer {
    background: radial-gradient(circle, #862B4C, #912929, #C8272A);
}
.theme-hot #settingsContainer{
    background: radial-gradient(circle, #1E0C0C, #0B0404);
}
.theme-hot .optionsContainer .option {
    background: linear-gradient(to bottom right, #580E32, #710C21);
}
.theme-hot .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #8A1934, #710101);
}
.theme-hot .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #862B4C, #912929, #C8272A);
}
.theme-hot #settingsContainer #finish {
    background: linear-gradient(to bottom right, #862B4C, #912929, #C8272A);
}
.theme-hot #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #8A1934, #710101, #710101);
}
#themesContainer .theme-hot {
    background: linear-gradient(to bottom right, #8A1934, #710101) !important;
}
#themesContainer .theme-hot:hover {
    background: linear-gradient(to bottom right, #862B4C, #912929, #C8272A) !important;
}
.theme-hot .bookmarkItem .itemTitle, .theme-hot .searchResult{
    background: linear-gradient(to bottom right, #580E32, #710C21);
}
.theme-hot .bookmarkItem:hover .itemTitle, .theme-hot .searchResult:hover {
    background: linear-gradient(to bottom right, #8A1934, #710101);
}
.theme-hot .bookmarkItem .itemTitle.active, .theme-hot .searchResult.active{
    background: linear-gradient(to bottom right, #862B4C, #912929, #C8272A);
}
.theme-hot .connectorLeft, .theme-hot .connectorRight {
    background: #A22871;
}
.theme-hot .connectorVertical {
    background: linear-gradient(to bottom, #A22871, #FF0599, #A22871);
}
.theme-hot #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #862B4C77, #91292977, #C8272A77);
}
.theme-hot #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #862B4C, #912929, #C8272A);
}


/* Greens */
.theme-greens {
    background: radial-gradient(circle, #0C1E18, #0B0404);
}
.theme-greens * {
    color: white;
}
.theme-greens #dateContainer {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens #settingsContainer{
    background: radial-gradient(circle, #0C1E18, #0B0404);
}
.theme-greens .optionsContainer .option {
    background: linear-gradient(to bottom right, #0F352A, #0F1C1E);
}
.theme-greens .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens .optionsContainer .option.active {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens #settingsContainer #finish {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens #settingsContainer #finish:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
#themesContainer .theme-greens {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748) !important;
}
#themesContainer .theme-greens:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666) !important;
}
.theme-greens .bookmarkItem .itemTitle, .theme-greens .searchResult{
    background: linear-gradient(to bottom right, #0F352A, #0F1C1E);
}
.theme-greens .bookmarkItem:hover .itemTitle, .theme-greens .searchResult:hover {
    background: linear-gradient(to bottom right, #1C4F37, #164443, #175748);
}
.theme-greens .bookmarkItem .itemTitle.active, .theme-greens .searchResult.active{
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}
.theme-greens .connectorLeft, .theme-greens .connectorRight {
    background: #0C5A39;
}
.theme-greens .connectorVertical {
    background: linear-gradient(to bottom, #0C5A39, #21C07C, #0C5A39);
}
.theme-greens #bookmarksStatusBar {
    background: linear-gradient(to bottom right, #27B53977, #25AD5777, #2D866677);
}
.theme-greens #bookmarksStatusBar:hover {
    background: linear-gradient(to bottom right, #27B539, #25AD57, #2D8666);
}


/* Ninja */
.theme-ninja {
    background: radial-gradient(circle, #030303, #000000);
}
.theme-ninja * {
    color: white;
}
.theme-ninja #dateContainer {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
.theme-ninja #settingsContainer{
    background: radial-gradient(circle, #030303, #000000);
}
.theme-ninja .optionsContainer .option {
    background: linear-gradient(to bottom right, #000000, #000000);
}
.theme-ninja .optionsContainer .option:hover {
    background: linear-gradient(to bottom right, #090909, #0D0D0D);
}
.theme-ninja .optionsContainer .option.active {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
.theme-ninja #settingsContainer #finish {
    background: linear-gradient(to bottom right, #090909, #0D0D0D);
}
.theme-ninja #settingsContainer #finish:hover {
    background: radial-gradient(circle, #0D0D0D, #141414);
}
#themesContainer .theme-ninja {
    background: linear-gradient(to bottom right, #090909, #0D0D0D) !important;
}
#themesContainer .theme-ninja:hover {
    background: radial-gradient(circle, #0D0D0D, #141414) !important;
}
.theme-ninja #timeContainer, .theme-ninja #messageContainer, .theme-ninja #messageInput {
    font-weight: 300 !important;
}
.theme-ninja .bookmarkItem .itemTitle, .theme-ninja .searchResult{
    background: linear-gradient(to bottom right, #000000, #000000);
}
.theme-ninja .bookmarkItem:hover .itemTitle, .theme-ninja .searchResult:hover {
    background: linear-gradient(to bottom right, #090909, #0D0D0D);
}
.theme-ninja .bookmarkItem .itemTitle.active, .theme-ninja .searchResult.active{
    background: radial-gradient(circle, #0D0D0D, #141414);
}
.theme-ninja .connectorLeft, .theme-ninja .connectorRight {
    background: #26D92D;
    height: 2px !important;
}
.theme-ninja .connectorVertical {
    background: #26D92D;
}
.theme-ninja #bookmarksStatusBar {
    background: radial-gradient(circle, #0D0D0D77, #14141477);
}
.theme-ninja #bookmarksStatusBar:hover {
    background: radial-gradient(circle, #0D0D0D, #141414);
}